@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@900&display=swap');

* {
    font-family: 'PT Sans';
    box-sizing: border-box;
    content: '';
}

body {
    background-color: #151c29;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.setka {
    max-width: 1000px;
    width: 100%;
    z-index: 2;
    /*background-color: #718096;*/
}

.course {
    width: 100%;
    border-radius: 10px;
    background-color: #212b3d;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px black;
    padding: 50px;
}

.course__intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course__intro h2 {
    margin: 0;
}

.course__intro p {
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 20px;
}

.course__intro span {
    color: #656e7f;
    font-size: 20px;
}

.course__title {
    text-align: left;
    width: 550px;
    cursor: pointer;
}


.course__info__more {
    width: 170px;
    height: 60px;
    border-radius: 10px;
    background-color: #0290d8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'PT Sans';
    font-size: 22px;
    margin-left: auto;
    margin-right: 50px;
    text-decoration: none;
    box-shadow: 0 0 5px black;
}

.course__info__more:hover {
    color: white;
    cursor: pointer;
}

.course__introduction {
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 20px;
}

.course__price {
    font-family: 'Roboto';
    font-size: 32px;
    background-color: #701501;
    border: 1px solid #aa1e07;
    text-shadow: 3px 3px black;
    margin-left: auto;
}

.paid__button {
    font-family: 'Roboto';
    font-size: 32px;
    background-color: #027f19;
    border: 1px solid #00ff1e;
    text-shadow: 3px 3px black;
}

.course__button__hover__green:not(:hover) {
    transition: 0.3s;
}

.course__button__hover__green:hover {
    background-color: darkgreen;
}

.course__button__hover:not(:hover) {
    transition: 0.3s;
}

.course__button__hover:hover {
    background-color: #531501;
}

.example {
    border-radius: 10px;
    background-color: #212b3d;
    box-shadow: 0 0 5px black;
    margin-top: 20px;
}

.lesson__item div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.lesson__item {
    display: flex;
    align-items: center;
    padding: 25px 50px;
    border-bottom: 1px solid black;
}

.lesson__item:nth-last-child(1) {
    border-bottom: none;
}

.title__lesson {
    font-family: 'Roboto';
    font-size: 2rem;
}

.title__locked {
    width: 220px;
    height: 40px;
    border-radius: 3px;
    margin-top: 10px;
    background-color: #656e7f;
}

.number__lesson {
    color: #656e7f;
    font-size: 20px;
}

.time__lesson {
    margin-left: auto;
    color: #656e7f;
    font-size: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__group {
    margin-top: 20px;
}

.header__menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    max-width: 380px;
    width: 100%;
    height: 330px;
    padding: 0;
    margin: 0;
}

.header__menu li {
    height: 100%;
    width: 100%;
    background-color: #212b3d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    margin-bottom: 20px;
    overflow: hidden;
}

.header__menu li:nth-child(3) {
    margin-bottom: 0;
}

.header__left__section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.authorize__icon {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #212b3d;
    box-shadow: 0 0 5px black;
    color: #656e7f;
}

.authorize__icon:not(:hover) {
    transition: 0.3s;
}

.authorize__icon:hover {
    color: #4fb5ff;
}

.rate {
    color: white;
    font-size: 22px;
    padding-left: 30px;
}

.token {
    min-width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 30px;
}

.token__price {
    margin-left: auto;

}

.token__title {
    display: flex;
    flex-direction: column;
}

.token__title span:nth-child(2) {
    color: #656e7f;
    font-size: 16px;
}

.header__gpu {
    max-width: 200px;
    width: 100%;
    /*margin-right: 20px;*/
    margin-top: 15px;
}

.bitcoin__png {
    width: 180px;
}

.net {
    color: white;
    transition: 0.3s;
}

.header__group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.course__header {
    margin-right: auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.article {
    border-radius: 10px;
    background-color: #212b3d;
    margin: 10px;
    box-shadow: 0 0 5px black;
    padding: 1px;
    overflow: hidden;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    transition: 0.1s;
    width: 100%;
    max-width: 488px;
}

.articles__filter {
    width: 100%;
    height: 46px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    background-color: #212b3d;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.articles__list {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
    justify-content: center;
}

.article__image__wrap {
    height: 275px;
    /*box-shadow: inset 0 0 20px black;*/
    transition: 0.1s;
    padding: 20px;
    padding-bottom: 0px;
}

.article:hover .article__description{
    color: #4fb5ff;
}

/*.article:hover .article__image__wrap{*/
/*    padding: 20px;*/
/*}*/

.article__face__image {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -2;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}

.article__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100%;
}

.article__description:not(:hover) {
    transition: 0.3s;
}

.article__description span {
    font-size: 22px;
}

.article__description p {
    margin-bottom: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.pagination__item {
    width: 60px;
    height: 60px;
    background-color: #212b3d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #656e7f;
    margin: 10px;
    box-shadow: 0 0 5px black;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 10px;
}

.pagination__item:hover {
    color: #4fb5ff;
}

.pagination__item:not(:hover) {
    cursor: pointer;
    transition: 0.3s;
}

/* Статья */

.article__main {
    width: 100%;
    border-radius: 10px;
    background-color: #212b3d;
    margin-top: 10px;
    box-shadow: 0 0 5px black;
    padding: 50px;
}

.article__main__title {
    font-family: 'Roboto';
}

.h2__hover:not(:hover) {
    transition: 0.3s;
}

.h2__hover:hover {
    text-decoration: underline;
}

.article__info {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 25px;
    color: #656e7f;
}

.article__cover {
    width: 100%;
    max-width: 700px;
    display: block;
    box-shadow: 0 0 5px black;
    margin: 0 auto;
    margin-bottom: 25px;
}

.article__main__content {
    font-size: 22px;
    margin: 0;
}

.article__navigate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__navigate div {
    height: 70px;
    width: 100px;
    background-color: #718096;
    color: #212b3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__date {
    text-align: center;
    font-size: 18px !important;
    color: #656e7f;
}

.home__button {
    font-size: 22px;
    width: 100px;
    height: 100px;
}

/* ПОДВАЛ, FOOTER */
.telegram__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212b3d;
    border-radius: 10px;
    width: 380px;
    height: 97px;
    margin: 20px auto;
    box-shadow: 0 0 5px black;
    text-decoration: none;
    color: white;
}

.telegram__wrapper:not(:hover) {
    transition: 0.3s;
}

.telegram__wrapper:hover {
    color: #4fb5ff;
}

.telegram__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.telegram__icon {
    box-shadow: 0 0 5px black;
    display: block;
    width: 60px;
    height: 60px;
    background-size: 107%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 100%;
}

.footer__animation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
}

.auth__logo {
    font-weight: bold;
    font-size: 40px;
    color: #4fb5ff;
    text-align: center;
    text-shadow: 3px 3px black;
    display: block;
    text-decoration: none;
    transition: 0.3s;
}

.auth__logo:hover{
    color: #4fb5ff;
}

.auth__logo:hover .net{
    color: #4fb5ff;
}

.auth__block {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #212b3d;
    box-shadow: 0 0 5px black;
    width:250px;
}

.auth__input {
    width: 100%;
    font-style: italic;
    text-align: center;
    outline: none;
    font-size: 22px !important;
    background-color: #07101B !important;
    border: 1px solid #171f2a !important;
    height: 44px !important;
    box-shadow: inset 0 0 5px black !important;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4fb5ff !important;
    padding: 10px;
    border-radius: 3px;
}

.auth__input::placeholder {
    color: #1f6283;
}

.auth__submit {
    width: 100%;
    box-shadow: 0 0 5px black;
    border-radius: 3px;
    font-size: 20px;
    height: 44px;
    color: #171f2a;
    background-color: #707F95;
    border: none;
    margin-top: 10px;
}

.auth__request {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 140px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.auth__request:hover {
    color: #4fb5ff;
}

/* АДМИНКА ADMIN */

.admin__edit__img {
    display: block;
    margin:0 auto;
    max-width:600px;
    width:100%;
}

/* ПРОФИЛЬ, PROFILE */

.dashboard {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.user__card {
    width: 100%;
    border-radius: 10px;
    background-color: #212b3d;
    box-shadow: 0 0 5px black;
    padding: 20px;
    margin-top: 2px;
}

.user__panel {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.user__settings {
    width: 50%;
    border-radius: 10px;
    background-color: #212b3d;
    box-shadow: 0 0 5px black;
    padding: 20px;
    margin-right: 10px;
}

.user__check {
    width: 50%;
    border-radius: 10px;
    background-color: #212b3d;
    box-shadow: 0 0 5px black;
    padding: 20px;
    margin-left: 10px;
}
